
.gallery {
  background-color: #f6f6f6;
  padding: 50px;
  border-radius: 25px;
  margin: 43px 0 50px;
  .display-area {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    .thumb {

      article {
        display: flex;
        width: 340px;
        height: 340px;
        border-radius: 10px;
        overflow: hidden;
        justify-content: center;
        position: relative;
        img {
          height: 340px;
        }
        h2 {
          color: white;
          font-size: 18px;
          font-weight: 700;
          position: absolute;
          bottom: 20px;
          left: 20px;
        }
      }
    }
  }
}

